*.pyc
__pycache__
.venv
.env
.vscode
.DS_store
arpa/
colName.py
db.mmd
DBcommands.txt
run.ps1
mcs.py
visa.py
files/
personas.py
Personas.xlsx
cedulas.xlsx
cards.txt
db.md
json
aws.ps1
gcloud.ps1
azure.ps1
db.mermaid